<div class="toolbar">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    ToDo Together
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Home
    </button>
    <button mat-menu-item>
      <mat-icon aria-hidden="false" aria-label="Example home icon">checklist</mat-icon>
      To-Do Lists
    </button>
    <button mat-menu-item>
      <mat-icon aria-hidden="false" aria-label="Example home icon">group</mat-icon>
      Friends
    </button>
    <button mat-menu-item>
      <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
      Settings
    </button>
    <button mat-menu-item>
      <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
      Logout
    </button>
  </mat-menu>
</div>
